<!DOCTYPE html>
<html>
    <head>
        <title>Gain the Grain - Account Status</title>
        <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" type="text/css" href="css/gg.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    </head>
    <body>
        
      {{> new_nav_bar }}
      
      <br><br><h1>{{message}}</h1>
      
      <ul id="account_grocery_list">
      </ul>
      <div class="accinfo">
          <table>
            <tr>
              <th>Grocery Item</th>
              <th>Price</th>
            </tr>
            {{#each hbs_list}}
            <tr>
              <td>{{this.grocery_item}}</td>
              <td>{{this.item_cost}}</td>
            </tr>
            {{/each}}
          </table>
    </div>

      
      <p id="address">Address: {{address}}</p>
      
      <p clas="grocerNeed">In need of grocer: {{partner}}</p> <br> <br>
<!--       <p> This shopping list will arrive by: </p> <br> <br> <br> -->
      <form class="logoutbuttonform">
        <br>
        <button class="inp" type="button" onclick="logout()">Log Out</button> <br>
      </form>
      <br>
      <br>
      <br>
      
      {{> footer }}
      <script type="text/javascript" src="client-js/gg.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </body>
</html>